<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ville.devproc.prTracker">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.ville.devproc.projecttracker.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ville.devproc.projecttracker.ui.Project.Projects"
            android:label="@string/title_activity_projects"
            android:parentActivityName="com.ville.devproc.projecttracker.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ville.devproc.projecttracker.MainActivity" />
        </activity>
        <activity
            android:name="com.ville.devproc.projecttracker.ui.Project.AddOrUpdateProject"
            android:label="@string/title_activity_add_project"
            android:parentActivityName="com.ville.devproc.projecttracker.ui.Project.Projects"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ville.devproc.projecttracker.ui.Project.Projects" />
        </activity>
        <activity
            android:name="com.ville.devproc.projecttracker.ui.Worker.Workers"
            android:label="@string/title_activity_workers"
            android:parentActivityName="com.ville.devproc.projecttracker.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ville.devproc.projecttracker.MainActivity" />
        </activity>
        <activity
            android:name="com.ville.devproc.projecttracker.ui.Worker.AddOrUpdateWorker"
            android:label="@string/title_activity_add_worker"
            android:parentActivityName="com.ville.devproc.projecttracker.ui.Worker.Workers"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ville.devproc.projecttracker.ui.Worker.Workers" />
        </activity>
        <activity
            android:name="com.ville.devproc.projecttracker.ui.ProjectWorker.EditProjectWorkers"
            android:label="@string/title_activity_edit_project_workers"
            android:parentActivityName="com.ville.devproc.projecttracker.ui.Project.AddOrUpdateProject"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ville.devproc.projecttracker.ui.Project.AddOrUpdateProject" />
        </activity>
    </application>

</manifest>